@import url(variables.css);

.first {
    background-color: #347CF4;
    width: 500px;
    align-items: center;
    left: -10px;
    border-radius: 10px;
    position: relative;
    height: 140px;

} 
.second {
    background-color: whitesmoke;
    width: 500px;
    align-items: center;
    left: 2px;
    border-radius: 10px;
    position: relative;

}
.title {
    position: relative;
    left: 30px;
    top: 25px;
    color: whitesmoke;
        justify-content: center;
        align-items: center;
        height: 5vh
    

        
}
.parrafo {
    position: relative;
    color: whitesmoke;
    top: 10px;
    position: -webkit-sticky;
    left: 30px;
}
.searchDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: calc(100% - 40px);
    height: 60px;
    background-color: var(--color-2);
}
.one {
    border-radius: 70px;
}
.two {
    border-radius: 70px;
}
.Lucas {
    position: relative;
    left: 140px;
    top: -145px;
}
.lucas {
    position: relative;
    left: 145px;
    top: -140px;
}
